<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <p class="card-category">Here is a subtitle for this table</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>Id</th>
              <th>Naam</th>
              <th>Vorm</th>
              <th>Cohort</th>
            </thead>
            <tbody>
              <tr *ngFor="let module of modules$ | async">
                <td>{{ module.identity.low }}</td>
                <td>
                  <a [routerLink]="[module.identity.low]">
                    {{ module.properties.name }} - {{ module.properties.descriptiveName }}
                  </a>
                </td>
                <td>{{ module.properties.form }}</td>
                <td>{{ module.properties.cohort.low }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
