<form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="text" id="email" placeholder="Email address" formControlName="email" class="form-control" />
    <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched" class="help-block">
      <p>Geef een geldig emailadres.</p>
    </span>
  </div>

  <div class="form-label-group">
    <input
      class="form-control"
      type="password"
      id="password"
      placeholder="Password"
      formControlName="password"
    />
    <span
      *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
      class="help-block"
    >
      <p>Geef een geldig wachtwoord.</p>
    </span>
  </div>

  <div class="form-label-group">
    <input
      class="form-control"
      type="text"
      id="firstName"
      placeholder="First name"
      formControlName="firstName"
    />
    <span
      *ngIf="!registerForm.get('firstName').valid && registerForm.get('firstName').touched"
      class="help-block"
    >
      <p>Geef een voornaam.</p>
    </span>
  </div>

  <div class="form-label-group">
    <input
      class="form-control"
      type="text"
      id="lastName"
      placeholder="Last name"
      formControlName="lastName"
    />
    <span
      *ngIf="!registerForm.get('lastName').valid && registerForm.get('lastName').touched"
      class="help-block"
    >
      <p>Geef een achternaam.</p>
    </span>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!registerForm.valid">
    Sign in
  </button>
</form>
