<!--  -->
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-8">
      <div>
        <h4>Login</h4>
        <nextlevel-login-form (authentication)="onSubmit($event)"></nextlevel-login-form>
        <!--  -->
        <p>Or <a [routerLink]="['/register']">register</a></p>
      </div>
    </div>
  </div>
</div>
