<main class="viewer__container">
  <div class="viewer__fullwidth">
    <article>
      <section>
        <!--  -->
        <nextlevel-login-form (authentication)="onSubmit($event)"></nextlevel-login-form>
        <!--  -->
      </section>
    </article>
  </div>
</main>
