<!--  -->
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-8">
      <div>
        <h4>Register</h4>
        <nextlevel-register-form (authentication)="onSubmit($event)"></nextlevel-register-form>
        <!--  -->
        <p>Or <a [routerLink]="['/login']">login</a></p>
      </div>
    </div>
  </div>
</div>
