<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="text" id="email" placeholder="Email address" formControlName="email" class="form-control" />
    <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="help-block">
      <p>Geef een geldig emailadres.</p>
    </span>
  </div>

  <div class="form-label-group">
    <input
      class="form-control"
      type="password"
      id="password"
      placeholder="Password"
      formControlName="password"
    />
    <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="help-block">
      <p>Geef een geldig wachtwoord.</p>
    </span>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">
    Sign in
  </button>
</form>
