/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// https://www.npmjs.com/package/ngx-toastr
// regular style toast
@import '~ngx-toastr/toastr.css';

@import '~animate.css/animate.min';

@import 'assets/scss/paper-dashboard';

.alert-success {
  background-color: indianred;
}

.sidebar .sidebar-wrapper {
  background-color: #38c9d199; //#38c9d1;
}

.help-block > p {
  height: 30px;
}
