<ul class="navbar-nav">
  <!-- <li class="nav-item">
    <a class="nav-link btn-magnify" href="javascript:void(0)">
      <i class="nc-icon nc-layout-11"></i>
      <p>
        <span class="d-lg-none d-md-block">Stats</span>
      </p>
    </a>
  </li> -->
  <li class="nav-item btn-rotate" ngbDropdown placement="bottom-left">
    <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink">
      <i class="nc-icon nc-bell-55"></i>
      <p>
        <span class="d-lg-none d-md-block">User actions</span>
      </p>
    </a>
    <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
      <a ngbDropdownItem [routerLink]="['/login']">Login</a>
      <a ngbDropdownItem [routerLink]="['/register']">Register</a>
      <a ngbDropdownItem [routerLink]="['/profile']">Profile</a>
      <a ngbDropdownItem (click)="logout()">Logout</a>
    </div>
  </li>
</ul>
